/* FONTS */
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("https://www.obsidian-client.com/resources/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

/* SCENES */
.root {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-background-color: #494a4b;
    -fx-font-size: 16px;
}

/* LABELS */
.label {
    -fx-text-fill: white;
    -fx-line-spacing: 10;
}

/* BUTTONS */
.button {
    -fx-background-color: #4070F4;
    -fx-background-radius: 5px;
    -fx-border-style: none;
    -fx-padding: 12px 40px;
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 36px, 0.0, 0px, 10px);
}

.button:armed {
    -fx-background-color: #2F63DE;
}

.button:disabled {
    -fx-background-color: #dedede;
    -fx-text-fill: black;
    -fx-opacity: 1.0;
}

/* TEXT FIELDS */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-style: none;
    -fx-text-fill: black;
    -fx-font-weight: 500;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: #2F63DE;
    -fx-highlight-text-fill: white;
    -fx-padding: 12px;
    -fx-cursor: text;
}

.text-field:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 36px, 0.0, 0px, 10px);
}

.text-field:focused {
    -fx-border-color: #4070F4;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
    -fx-padding: 9px;
}

/* TEXT AREA */
.text-area {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-style: none;
    -fx-text-fill: black;
    -fx-font-weight: 500;
    -fx-prompt-text-fill: gray;
    -fx-highlight-fill: #2F63DE;
    -fx-highlight-text-fill: white;
}

.text-area > .scroll-pane {
    -fx-padding: 12px;
}

.text-area > .scroll-pane > .content {
    -fx-cursor: text;
}

.text-area:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 36px, 0.0, 0px, 10px);
}

.text-area:focused {
    -fx-border-color: #4070F4;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
}

/* COMBO BOXES */
.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-style: none;
    -fx-text-fill: black;
    -fx-font-weight: 500;
    -fx-padding: 7px;
    -fx-cursor: hand;
}

.combo-box:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 36px, 0.0, 0px, 10px);
}

.combo-box:focused {
    -fx-border-color: #4070F4;
    -fx-border-radius: 3px;
    -fx-border-width: 3px;
    -fx-padding: 4px;
}

/* DIALOGS */
.dialog-pane > .header-panel {
    -fx-background-color: white;
    -fx-padding: 12px 40px;
}

.dialog-pane > .header-panel > .label {
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.dialog-pane > .content {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 40px;
}